<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>User IS logged in</p>
<% else %>
  <p>User IS NOT logged in</p>
<% end %>

  <% if admin_signed_in? %>
    <p>Admin IS logged in</p>
  <% else %>
    <p>Admin IS NOT logged in</p>
<% end %>